.details__container {
    padding: 25px 25px;
}


.list {
    display: flex;
    border-bottom: 2px solid rgba(223, 211, 195, 0.5);
    padding-left: 0;
    gap: 45px;
}

.item a {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    color: #DFD3C3;
}

.gear {
    width: 25px;
    height: 25px;
}

.gear__icon {
    width: 100%;
    height: 100%;
}

.last {
    margin-right: 125px;
}



.active {
    border-bottom: 4px #dfd3c3 solid;
    padding-bottom: 8px;
}



.details {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.details-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.details-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6px;
    gap: 10px;
    margin-right: 35px;
}

.details__weather-icon {
    width: 40px;
    height: 40px;
}

.weather-icon{
    width: 100%;
    height: 100%;
}

.weather-status {

}



