.title-setup:hover {
    cursor: pointer;

}

.title-setup__icon-gear {
    width: 25px;
    height: 25px;
}

.icon-gear__img {
    width: 100%;
    height: auto;
}

[tooltip] {
    margin: 20px 60px;
    position: relative;
    display: inline-block;
}

