

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.location {
    font-size: 40px;
    font-weight: 400;
    color: #DFD3C3;
    text-transform: capitalize;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.date {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #DFD3C3;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.top__icon {
    width: 60px;
    height: 60px;
}

.icon {
    width: 100%;
    height: 100%;
}

.status {
    font-size: 25px;
    color: #DFD3C3;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    margin: 0;
}

.top__temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 90px;
    font-weight: 200;
    color: #DFD3C3;
    margin-bottom: 15px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.feels {
    font-size: 40px;
    color: #DFD3C3;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}
